{% extends 'generator/basic.html' %}

{% block css %}
.registerbtn {
  background-color:blue;

}
.registerbtn:hover{
 background-color:green;
}

input[type=text] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}

.registerbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width:100%;
    opacity: 0.9;
}

{% endblock %}

{% block title%} Add question {% endblock %}
{% block body %}

<center> <h2><b><i> ADD QUESTION</i></b></h2></center>
<form method="post" action="/generator/addQ/"> {% csrf_token %}
	<hr>
	<div class="form-group">
		<label for="questionId">Question ID </label> <br>
		<input type="text" id="questionId" Placeholder="Question ID" name="questionId" ><br>
	</div>
	<div class="form-group">
         <label for= "EnterTheQuestion">Enter The Question</label><br>
		 <input type="text" id="EnterTheQuestion" Placeholder="Enter The Question" name="EnterTheQuestion" required><br>
	</div>
	<div class="form-group">
		<label for="Subject">Subject</label><br>
		<input type="text" id="Subject" placeholder="Subject" name="Subject" required>
	</div>
<div class="container1">
	<label for="DifficultLevel"> Difficult Level:</label>
		<select id="DifficultLevel" name="Dl">
    			<option value="Easy">Easy</option>
   			 <option value="Medium">Medium</option>
    			<option value="Difficult">Difficult</option>
  			</select><br><br>
			<label for="unitNo">Unit No:</label>
  			<select id="unitNo" name="un">
    				<option value="1">1</option>
    				<option value="2">2</option>
    				<option value="3">3</option>
  			</select><br><br></div>
			<label for="year"><br>Year</label>
                        <input type="text" id="year" placeholder="Year" name="year" required><br>
		    <label for="Marks_alloted"><br> Marks Alloted</label>
		<input type="text" id="Marks_alloted" placeholder="Marks" name="Marks_alloted" required><br>
	 <label for="Module"><br> Module</label>
                <input type="text" id="Module" placeholder="Module" name="Module" required><br>
       <label for="Semester"><br> Semester</label>
                <input type="text" id="Semester" placeholder="Semester" name="Semester" required><br>
        <label for="Subject_code"><br> Subject Code</label>
                <input type="text" id="Subject_code" placeholder="Subject_code" name="sc" required>
<br>

	<button type="submit" class="registerbtn">Submit</button>
  		<button type="Exit" class="registerbtn">Exit</button>
     </div>
</div>
	</form>
{% endblock %}