{% extends 'generator/basic.html' %}
{% load static %}

{% block title%} delete question {% endblock %}
{% block css %}
input[type=text] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}
.registerbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width:100%;
    opacity: 0.9;
}
.registerbtn {
  background-color:blue;

}
.registerbtn:hover{
 background-color:green;
}

{% endblock %}
{% block body%}
<form method="POST" action="/generator/deleteQ/">
    {% csrf_token %}

    <center><h3> DELETE QUESTION</h3></center>
    {{form}}
    <div class="form-group">
  <button type="Delete" class="registerbtn">DELETE</button>

</div>
    </form>
{% endblock %}
