{% extends 'generator/basic.html' %}
{% load static %}
{% block title%} Update question {% endblock %}
{% block css %}
.registerbtn {
  background-color:blue;

}
.registerbtn:hover{
 background-color:green;
}

input[type=text] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}
.registerbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width:100%;
    opacity: 0.9;
}

{% endblock %}
{% block body %}

<center><h3> UPDATE QUESTION</h3></center>
<form action="" method="POST">
    {% csrf_token %}
     <div class="container">
            <hr>
                <label for="QuestionId"><br> Question ID </br> </label>
                 <input type="text" Placeholder="Question" id="QuestionId" name="Qn" required>
                <label for="EnterTheQuestion"><br> Enter The Question </br> </label>
                <input type="text" Placeholder="Enter The Question" id="EnterTheQuestion" name="Etq" required>
                <label for="Subject"><br> Subject</br></label>
                <input type="text" placeholder="Subject" id="Subject" name="sub" required>
                     <div class="container1">
                        <label for="DifficultLevel"> Difficult Level:</label>

                        <select id="DifficultLevel" name="Dl">
                        <option value="Easy">Easy</option>
                         <option value="Medium">Medium</option>
                        <option value="Difficult">Difficult</option>
                        </select>
                        <label for="unitno">Unit No:</label>
                        <select id="unitno" name="un">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                        </select></div>
                        <label for="year"><br>Year</br></label>
                        <input type="text" placeholder="Year" id="year" name="txt" required>
                    <label for="MarksAlloted"><br> Marks Alloted</br></label>
                <input type="text" placeholder="Marks" id="MarksAlloted" name="Ma" required>
         <label for="Module"><br> Module</br></label>
<input type="text" placeholder="Module" id="Module" name="Mo" required>
       <label for="Semester"><br> Semester</br></label>
                <input type="text" placeholder="Semester" id="Semester" name="se" required>
        <label for="SubjectCode"><br> Subject Code</br></label>
                <input type="text" placeholder="SubjectCode" id="SubjectCode" name="sc" required>
<br>


  <button type="Delete" class="registerbtn">DELETE</button>
                <button type=" Update" class="registerbtn">UPDATE</button>
                <button type="Exit" class="registerbtn">Exit</button>
</div>
</form>
{% endblock %}