{% extends 'generator/basic.html' %}
{% load static %}
{% block title%} Update question {% endblock %}
{% block css %}
.registerbtn {
  background-color:blue;

}
.registerbtn:hover{
 background-color:green;
}

input[type=text] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}
.registerbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width:100%;
    opacity: 0.9;
}

{% endblock %}
{% block body %}

<center><h3> UPDATE QUESTION</h3></center>
<form action="/generator/updateQ/" method="POST">
    {% csrf_token %}
    {{form}}
     <div class="form-group">
         <input type="hidden" value="addQ.questionId" name="id">
         <input type="submit" name="submit" class="btn btn-block btn-success" value="Update Questions">
     </div>
</form>
{% endblock %}
